<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite">
    <listeners>
        <listener class-name="jp.co.soramitsu.sora.listener.ScreenShotListener"/>
    </listeners>

    <test thread-count="1" name="FirstTest">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.FirstTest"/>
        </classes>
    </test>
    <test thread-count="1" name="NodeTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.NodeTests"/>
        </classes>
    </test>
    <test thread-count="1" name="OnboardingTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.OnboardingTests"/>
        </classes>
    </test>
    <test thread-count="1" name="PoolTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.PoolTests"/>
        </classes>
    </test>
    <test thread-count="1" name="ReferralProgramTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.ReferralProgramTests"/>
        </classes>
    </test>
    <test thread-count="1" name="SendTokenTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.SendTokenTests"/>
        </classes>
    </test>
    <test thread-count="1" name="SwapTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.SwapTests"/>
        </classes>
    </test>

    <!--
    <test thread-count="1" name="SoraCardTests">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.SoraCardTests"/>
        </classes>
    </test>
    <test thread-count="1" name="BuyXorWithFiatTest">
        <classes>
            <class name="jp.co.soramitsu.sora.commontests.BuyXorWithFiatTest"/>
        </classes>
    </test>
   -->
</suite>