<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite thread-count="1" name="Suite">
 <test thread-count="1" name="Test">
    <classes>
      <class name="commontests.FirstTest"/>
    </classes>
  </test>
  <test thread-count="1" name="ImportAndForgetAccountPassphrase">
    <classes>
      <class name="commontests.ImportAndForgetAccountPassphrase"/>
    </classes>
    </test>
  <test thread-count="1" name="ImportAndForgetAccountRawSeed">
    <classes>    
      <class name="commontests.ImportAndForgetAccountRawSeed"/>
    </classes>
   </test>
   <test thread-count="1" name="CreateAndForgetAccountTest">
    <classes>
      <class name="commontests.CreateAndForgetAccountTest"/>
    </classes>
    </test>
   <test thread-count="1" name="CreateAccountTest">
    <classes>
      <class name="commontests.CreateAccountTest"/>
    </classes>
    </test>
</suite> <!-- Suite -->
